/* Building Todo App with DOM */
body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}

.container{
    height: auto;
    width: 40%;
    border: 2px solid black;
    background-color: aliceblue;
    box-shadow: 0 0 5px black;
    padding: 1rem;
}

h1, input{
   margin-left: 1rem;
   font-family: Arial, Helvetica, sans-serif;
}

button{
    color: white;
    background-color: #1E3A8A;
    margin: 0.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover{
    background-color: #16357a;
    cursor: pointer;
}